@model IEnumerable<AreaExample.Models.Product>
@{
    ViewBag.Title = "Index";

    string productString = "";
}

<h2>Index</h2>

<div class="row">
    @foreach (var product in Model)
    {
        productString += Html.Partial("~/Views/Shared/_ProductDetails.cshtml", product);
    }

    @Html.Raw(productString)

</div>