
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p><input type="button" id="button1" value="Button 1"></p>
<p><input type="button" id="button2" value="Button 2"></p>
<p><input type="button" id="button3" value="Button 3"></p>
<p><input type="button" id="button4" value="Button 4"></p>
<p><input type="button" id="button5" value="Button 5"></p>
<p><input type="button" id="button6" value="Button 6"></p>
<p><input type="button" id="button7" value="Button 7"></p>
<p><input type="button" id="button8" value="Button 8"></p>
<p><input type="button" id="button9" value="Button 9"></p>
<p><input type="button" id="button10" value="Button 10"></p>

